.login-page {
  display: flex;
  height: 100vh;
  background: var(--mat-sys-primary);
}

.login-left {
  flex: 1;
  background: var(--mat-sys-primary);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 0 16px 16px rgba(0, 0, 0, 0.25);

  .login-header {
    text-align: center;
    margin-bottom: 2rem;
  }
  .roomies-title {
    font-size: 3rem;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .roomies-subtitle {
    font-size: 1.5em;
    margin-top: 1rem;
  }

  .login-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 8px 4px 16px 8px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    min-width: 320px;
  }
}

.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;

  .login-description {
    color: var(--mat-sys-primary);
    font-weight: 600;
    text-align: center;
  }

  .login-illustration {
    margin-top: 2rem;

    img {
      width: 400px;
      max-width: 100%;
    }
  }
}
