<div class="login-page">
  <div class="login-left">
    <div class="login-header">
      <div class="roomies-title">Roomies</div>
      <div class="roomies-subtitle">
        Where Shared Living Meets Smart Spending
      </div>
    </div>
    <div class="login-card">
      <app-login-form></app-login-form>
    </div>
  </div>
  <div class="login-right">
    <div class="login-description">
      Track expenses, split bills, and keep your household budget stress-free.
    </div>
    <div class="login-illustration">
      <img
        src="../../../assets/images/undraw_data_reports.svg"
        alt="Illustration"
      />
    </div>
  </div>
</div>
